body {
    height: 100vh;
    background-image: url('https://ichef.bbci.co.uk/news/660/cpsprodpb/1438B/production/_102672828_hi048321534-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
